.search-button {
	display: flex;
	justify-content: center;
}

.search-button button {
	padding: 10px 21px;
	background: #e27a3f; /**needed to be able to see the button*/
	font-size: 1em;
	cursor: pointer;
	outline: 0;
	border: 0;
}	

.search-button button:hover {
	color: blue;
}